body {
    background-color: hsl(0, 0%, 10%);
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: hsl(0, 0%, 20%);
}

::-webkit-scrollbar-thumb {
    background: #48B3AF;
}

.topnav {
    background-color: hsl(0, 0%, 10%);
    position: fixed;
    top: 0;
    overflow: hidden;
    width: 100%;
    line-height: 40px;
}

.profile-pic {
    margin-top: 100px;
    border-radius: 50%;
    border-style: solid;
    border-width: medium;
    border-color: white;
    width: 200px;
    height: 200px;
}

.profile-desc {
    margin-bottom: 50px;
    font-family: Tahoma, sans-serif;
}

.name {
    color: #48B3AF;
}

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    padding: 14px 16px;
    margin: 0;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.topnav a.split {
    float: right;
    color: #f2f2f2;
}

.home {
    color: #f2f2f2;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    scroll-margin-top: 80px;
}

.about-me {
    color: #f2f2f2;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    max-width: 700px;
    margin: 0 auto;
    margin-bottom: 100px;
}

.experience {
    margin-bottom: 100px;
    scroll-margin-top: 80px;
}

.experience-container {
    color: #f2f2f2;
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
    border-color: white;
    font-family: 'Roboto', sans-serif;
    display: grid;
    grid-template-columns: 200px 1fr;
    align-items: start;
    max-width: 900px;
    height: 200px;
    margin: 0 auto;
    margin-bottom: 50px;
}

.role-name {
    color: #48B3AF;
    font-size: 20px;
    font-weight: bold;
    margin: 30px;
}

.date {
    color: #f2f2f2;
    font-size: 15px;
    font-weight: normal;
}

.desc {
    font-size: 17px;
    margin-top: 50px;
    margin-right: 30px;
}

.projects {
    color: #f2f2f2;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 100px;
    scroll-margin-top: 80px;
}

.projectCards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    max-width: 1000px;
    margin: 0 auto;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    justify-items: center;
}

.project-screenshot {
    width: 100%;
    height: auto;
    display: block;
}

.card {
  border-radius: 10px;
  box-shadow: 5px 5px 5px hsla(0, 0%, 0%, 0.1);
  background-color: white;
  color: black;
  height: 525px;
  margin: 10px;
  text-align: left;
  max-width: 500px;
  display: inline-block;
  overflow: hidden;
}

.card-image {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.card-content {
    margin: 20px;
}

.card-text {
    color: hsl(0, 0%, 30%);
}

.subheading {
    font-size: 2em;
    color: #48B3AF;
    text-align: center;
    margin-bottom: 50px;
    font-family: 'Roboto', sans-serif;
}

.skills {
    color: #f2f2f2;
    text-align: left;
    font-family: 'Roboto', sans-serif;
    max-width: 700px;
    margin: 0 auto;
    margin-bottom: 100px;
    scroll-margin-top: 80px;
}

.skills-icon {
    width: 30px;
    height: auto;
    display: inline-block;
}

.skills-subheading {
    display: inline-block;
    font-weight: bold;
}

.skills-container {
    display: grid;
    grid-template-columns: 150px 1fr;
    align-items: start;
    color: white;
    margin-bottom: 100px;
}

.skills-grid {
    display: grid;
    grid-template-columns: repeat(4, auto);
    gap: 50px;
}

.contact {
    color: #f2f2f2;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 100px;
}

.email {
    font-size: large;
}

.social {
    background-color: white;
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 10px;
    border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-linkedin {
    background: #007bb5;
    color: white;
}

.fa-github {
    background: #24292e;
    color: white;
}

.github-button {
    background-color: #24292e;
    color: white;
    text-align: center;
    padding: 10px 25px;
    text-decoration: none;
    border-radius: 10px;
    display: inline-block;
}

html {
    scroll-behavior: smooth;
}