@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: hsl(0, 0%, 10%);
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: hsl(0, 0%, 20%);
}

::-webkit-scrollbar-thumb {
    background: #48B3AF;
}

.topnav {
    background-color: hsl(0, 0%, 10%);
    position: fixed;
    top: 0;
    overflow: hidden;
    width: 100%;
    height: 7%;
    line-height: 2rem;
}

.profile-pic {
    margin-top: 6.5rem;
    border-radius: 50%;
    border-style: solid;
    border-width: medium;
    border-color: white;
    max-width: 30%;
    height: auto;
}

.profile-desc {
    margin-bottom: 3.12rem;
    font-family: Tahoma, sans-serif;
}

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    padding: 14px 16px;
    margin: 0;
    text-decoration: none;
    font-size: 100%;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.topnav a.split {
    float: right;
    color: #f2f2f2;
}

.home {
    color: #f2f2f2;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    scroll-margin-top: 6.5rem;
}

.about-me {
    color: #f2f2f2;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    max-width: 700px;
    margin: 0 auto;
    margin-bottom: 6.25rem;
}

.experience {
    margin-bottom: 6.25rem;
    scroll-margin-top: 6.5rem;
}

.experience-container {
    color: #f2f2f2;
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
    border-color: white;
    font-family: 'Roboto', sans-serif;
    display: grid;
    grid-template-columns: 30% 1fr;
    align-items: start;
    max-width: 900px;
    height: auto;
    margin: 0 auto;
    margin-bottom: 50px;
}

.role-name {
    color: #48B3AF;
    font-size: 1.3rem;
    font-weight: bold;
    margin: 1.87rem;
}

.date {
    color: #f2f2f2;
    font-size: 0.9rem;
    font-weight: normal;
}

.desc {
    font-size: 1rem;
    margin-top: 8%;
    margin-right: 5%;
}

.projects {
    color: #f2f2f2;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 6.25rem;
    scroll-margin-top: 6.5rem;
}

.projectCards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 4rem;
    max-width: 65%;
    margin: 0 auto;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    justify-items: center;
}

.project-screenshot {
    width: 100%;
    height: auto;
    display: block;
}

.card {
  border-radius: 10px;
  box-shadow: 5px 5px 5px hsla(0, 0%, 0%, 0.1);
  background-color: white;
  color: black;
  height: 525px;
  margin: 10px;
  text-align: left;
  max-width: 500px;
  display: inline-block;
  overflow: hidden;
}

.card-image {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.card-text {
    color: hsl(0, 0%, 30%);
    font-size: 1em;
}

.skills {
    color: #f2f2f2;
    text-align: left;
    font-family: 'Roboto', sans-serif;
    max-width: 700px;
    margin: 0 auto;
    margin-bottom: 6.25rem;
    scroll-margin-top: 6.5rem;
}

.skills-icon {
    width: 2rem;
    height: auto;
    display: inline-block;
}

.skills-subheading {
    display: inline-block;
    font-weight: bold;
}

.skills-container {
    display: grid;
    grid-template-columns: 20% 1fr;
    align-items: start;
    color: white;
    margin-bottom: 6.25rem;
}

.skills-grid {
    display: grid;
    grid-template-columns: repeat(4, auto);
    gap: 3.12rem;
}

.contact {
    color: #f2f2f2;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 6.25rem;
}

.email {
    font-size: 1.2rem;
}

.social {
    background-color: white;
    border: none;
    color: white;
    padding: 1.3rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 10px;
    border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-linkedin {
    background: #007bb5;
    color: white;
}

.fa-github {
    background: #24292e;
    color: white;
}

html {
    scroll-behavior: smooth;
}

@media (max-width: 768px) {

    .projectCards {
        grid-template-columns: 1fr;
    }

    .topnav {
        width: 100%;
    }
}